:root {
    font-family: arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: navy;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

fieldset {
    line-height: 30px;
}

.informações { 
    margin: 1px;
    border: 20px;
    padding: 10px 20px;
    background-color: rgb(14, 152, 244);
    text-align: center;
}
