:root {
    font-family: arial;
}

h1 {
    text-align: center;
    color: navy;
    margin: 10px;
}

.informações {
    background-color: rgb(107, 183, 233);
}

div {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.formulario {
    margin: 0 auto;
    font-size: 1rem;
}

label {
    width: 150px;
}

input, select {
    border-radius: 5px;
    border-style: none;
}

.botao {
    background-color: gray;
    font-size: 1rem;
    margin: 5px;
}

.botao:hover {
    background: #0095ff;
}

